.ipynb_checkpoints/
exercise1/exercise_1 - Kopie (2).ipynb
exercise1/exercise_1 - Kopie (3).ipynb
exercise1/exercise_1 - Kopie (4).ipynb
exercise1/exercise_1 - Kopie.ipynb
*.gz
*.aux
*.log
*.out
exercise2/model/
exercise2/code/__pycache__/
exercise2/results/hans/
exercise2/README.md
exercise3_R_NR/__pycache__/
exercise3_R_NR/copied_model.py
exercise3_R_NR/code/random_search.py
*.gzip
*.index
*.meta
*.data-00000-of-00001
exercise3_R_NR/models/
exercise3_R_NR/results/
exercise3_R_NR/tensorboard/
*.pyc
exercise4_R_NR/tensorboard/
exercise4_R_NR/carracing_reward_eval_training/
exercise4_R_NR/cartpole_reward_eval_training/
exercise4_R_NR/results/
exercise4_R_NR/reward_episode_training/
exercise4_R_NR/carracing/checkpoint
exercise4_R_NR/cartpole/checkpoint
exercise4_R_NR/cartpole/experiment-20181228-161105/
exercise4_R_NR/models_carracing/checkpoint
exercise4_R_NR/models_cartpole/checkpoint
